* @DataDog/serverless-aws

bottlecap/src/traces/                   @DataDog/serverless-aws @DataDog/apm-serverless
bottlecap/tests/apm_integration_test.rs @DataDog/serverless-aws @DataDog/apm-serverless
