.DS_Store
.layers
.idea
extensions
existing_layers
.container-opt
logs.txt
scripts/.cache
scripts/.src
local_tests/META_INF
local_tests/layer-*.zip
local_tests/nodejs
local_tests/java/build/
local_tests/java/lib/
local_tests/java/out/
local_tests/java/.gradle/