.DS_Store
.layers
extensions
scripts/.cache
scripts/.src
local_tests/logs.txt
local_tests/META_INF
local_tests/python
local_tests/datadog-agent
local_tests/recorder-extension
local_tests/layer-*.zip
local_tests/nodejs
